spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://database-nequi.col8a4sko28q.us-east-1.rds.amazonaws.com:5432/postgres?sslmode=require}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:NequiPrueba23}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}
